/********** Base **********/

@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --pink: rgb(236, 204, 247);
  --purple: rgb(102, 78, 252);
  --white: rgb(253, 252, 249);
  --black: rgb(0, 0, 0);
  --gray: rgb(107, 107, 107);


  --pale-yellow: rgb(253, 252, 249);
  --light-purple: rgb(236, 204, 247);
}

html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--gray);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--black);
}

p {
  max-width: 70ch;
  font-size: 1.1em;
  line-height: 1.5em;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

figure {
  margin: 0;
}

.container {
  background: linear-gradient(105deg, rgba(236,204,247,1) 0%, rgba(255,243,233,1) 12%, rgba(253,252,249,1) 27%);  
}

/********** Utilities  **********/

.hidden {
  display: none;
}

.p-container {
  padding: 0 16px;
}

img {
  max-width: 30vw;
}

/********** Header **********/

.header__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav {
  display: none;
}

/********** Main **********/

.intro__container {
  padding-bottom: 120px;
}

.intro__img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

.intro__title {
  font-size: 3em;
  margin-bottom: 15px;
}

.intro__description {
  margin-top: 0;
}

.intro__link-container {
  padding: 20px;
  background-color: var(--purple);
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 25px;
}

.intro__link {
  color: var(--white);
  text-decoration: none;;
}

.intro__user-avatars {
  max-width: 190px;
}

.intro__user-count {
  margin-top: 0;
}

.intro__number {
  color: var(--purple);
}

/* Features */

.features {
  background-color: white;
}

.features__container {
  padding-top: 20px;
  padding-bottom: 70px;
}

.feature__resources {
  margin-bottom: 50px;
}

.features__social-icons {
  max-width: 100%;
}

.feature__title {
  font-size: 2.1em;
  margin-bottom: 0;
}

.feature__description {
  margin: 10px 0;
}

.feature__link-container {
  margin-top: 0;
}

.feature__link {
  color: var(--purple);
  font-weight: 600;
  text-decoration: none;
}

.feature__phone-mockup {
  display: block;
  max-width: 60%;
  margin: 0 auto 50px;
}

/********** Footer **********/

.footer {
  background-color: var(--pale-yellow);
  padding-top: 40px;
}

.footer__container {
  padding-bottom: 50px;
}

.footer__company {
  margin-bottom: 45px;
}

.footer__title {
  margin-bottom: 0;
}

.footer__description {
  margin-top: 8px;
}

.footer__ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5em;
  font-size: 1.1em;
}

.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 40%;
}

@media only screen and (min-width: 680px) {
/********** Utilities **********/

.p-container {
  padding: 0px 40px;
}

/********** Header **********/

.nav {
  display: block;
}

.header__hamburger {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.nav__list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.nav__item {
  
  font-size: 1.1em;
}

.nav__link {
  text-decoration: none;
  color: var(--black);
}

.nav__link--purple {
  padding: 20px;
  background-color: var(--purple);
  color: var(--white);
  border-radius: 5px;
  margin-bottom: 25px;
}

/********** Main **********/

/* Intro */

.intro__container {
  padding-bottom: 150px;
}

.intro__img {
  max-width: 50%;
}

/* Features */

.feature__social-container {
  display: grid;
  grid-template-columns: 60% 38%;
  gap: 2%;
  align-items: center;
}

.feature__social {
  order: 2;
}

.feature__title {
  font-size: 2.3em;
}

.feature__resources-container {
  display: grid;
  grid-template-columns: 38% 60%;
  gap: 2%;
  /* align-items: center; */
}

.feature__phone-mockup {
  max-width: 100%;
}

/********** Footer **********/
}